/*
=========================================================
*  Argon Dokuwiki Template
*  Based on the Argon Design System by Creative Tim
*  Ported to Dokuwiki by Anchit (@IceWreck)
=========================================================
*/

/*
* I know using important at multiple places is a bad thing, but 
* I need to overrule the css already provided by dokuwiki
*/

@import 'argon-design-system';

// ------ General ------

html {
    scroll-padding-top: 5rem; // Offset for anchor scrolling
    scroll-behavior: smooth; // Smooth anchor scrolling
}

button {
    @extend .btn;
    @extend .btn-neutral;
}

legend {
    @extend .h3;
    font-style: normal;
}

input,
select {
    background-color: white !important;
    border-radius: 0.25rem;
    border-color: #99979c;
    border-width: 2px;
    border-style: solid;
    padding: 0.1rem 0.8rem;

    &:focus {
        box-shadow: none;
        border-color: black;
    }
}

// Highlight Search Results
.search_hit {
    @extend mark;
}

// Fix Content Hidden behind navbar when you reach via anchor
// Fixed somewhere else. 
// :target {
//     padding-top: 6rem;
//  }

// Selection
::-moz-selection {
    text-shadow: none;
    background: #dfe2f1;
}

::selection {
    text-shadow: none;
    background: #dfe2f1;
}

// Breadrumbs
ol.breadcrumb {
    flex-direction: column;
    background-color: unset;

    padding: 0;
    margin-bottom: -0.2rem; // Compensate for hr margin

    .bchead {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;

    // Horizontal rules between breadcrumbs, content and footer
    > hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


// ------ Content ------

#dokuwiki__content {
    flex-grow: 1;
    
    p {
        font-weight: 400;
    }

    // Edit Button
    .secedit button {
        // It may look okay if it was at the top of the section as a pencil icon, but multiple things prevent that. 
        // Just hide it. It's not useful enough. 
        display: none;

        // @extend .btn;
        // @extend .btn-primary;
        // @extend .btn-sm;
        // margin-bottom: 1em;
        // float: right;
    }

    // Non-existant links
    .wikilink2 {
        color: #dc3545;
    }

    // Page Revisions Button
    #page__revisions button {
        @extend .btn;
        @extend .btn-primary;
    }

    // Wiki Edit Menu Buttons
    .editButtons button {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-sm;
        margin-top: 1em;
        margin-bottom: 1em;
    }


    // Inline Code
    :not(pre)>code {
        background-color: inherit;
        padding: .1em;
        border-radius: .3em;


    }

    // Emoticons
    img.icon {
        width: 1rem;
        height: 1rem;
    }

    // Tables
    .table-responsive {
        border-width: 0rem;
    }

    table {
        @extend .table-responsive;
        @extend .table;
    }

    // Code Blocks
    pre {
        font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
        font-size: 14px;
        line-height: 1.375;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        background: #f5f7ff;
        color: #5e6687;
        border: 0;
        border-radius: .55rem;
        padding: 1.25rem;
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        overflow: auto;

    }

    .mf_pdf {
        display: inline;
    }

}

.argon-doku-page-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0;

    li {
        display: inline;
        fill: #6c757d;
        :hover {
            fill:#525f7f;
        }
    }

    li:nth-of-type(1) {
        margin-left: 0em;
    }

    // Page overflow menu
    .overflow {
        .dropdown-menu {
            box-shadow: 0 0.25rem 1rem rgba(50, 50, 93, 0.25);
            a {
                color: unset;
                text-decoration: none;

                padding-top: 0.35rem;
                padding-bottom: 0.35rem;
            }
        }
        .dropdown-item > i, .dropdown-item > svg {
            vertical-align: unset;
        }
    }
}

// ------ Editor ------

// Tool Bar Buttons
#tool__bar button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
    margin-bottom: 2em;
}

// Edit Area

textarea {
    @extend .form-control;
    width: 95% !important;
    max-width: 100% !important;
}

.editBar { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    align-content: center;
    justify-content: center;

    position: sticky;
    bottom: 0;

    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 0 1rem;

    .editButtons {
        flex-grow: 0;
        margin-right: 1.2rem;

        button {
            margin-right: 0.2rem;
            width: 6rem;
        }
    }

    .summary {
        flex-grow: 1;
        flex-wrap: nowrap;

        display: flex;
        flex-direction: row;
        
        label.nowrap[for="edit__summary"] {
            width: 100%;
            margin: 0;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            input {
                width: 12rem;
                box-sizing: border-box;
                flex-grow: 1;
                margin: 0.5rem auto;
            }
            span {
                width: auto;
                text-align: right;
                margin-right: 1rem;
            }
        }
        label.nowrap[for="minoredit"] {
            margin: 0;
            margin-left: 1em;

            width: 12rem;
            flex-shrink: 1;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;

            span {
                margin-left: 0.5em;
                width: auto;
            }
        }
    
    }
}

.editBox .license {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.8em;
    opacity: 0.65;
}

// Visual editor (Prosemirror)
body .prosemirror_wrapper .menubar { // override default top value ... i should change this
    top: 4.5rem; // Offset by header bar height
}

button.button.plugin_prosemirror_useWYSIWYG {
    right: 7.25rem;
    top: 2.4rem;

    font-size: 0.75em;
}

// ------ Table of Contents ------
.ct-toc {
    #dw__toc {

        float: inherit;
        margin: inherit;
        width: inherit;
        background-color: inherit;
        color: inherit;
        box-sizing: border-box;
        margin-right: 0em;
        padding-left: 0;
        border-left: 1px solid #eee;


        h3 {
            display: none;
        }

        a {
            display: block;
            padding: .125rem 1rem;
            color: #99979c;
            font-size: 100%;
        }

        a:hover {
            color: #5e72e4;
            text-decoration: none;
        }


        ol,
        ul,
        dl {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        ul {
            margin-bottom: 0.5rem;
        }

        ul {
            list-style: disc outside;
            list-style-position: outside;
            list-style-image: none;
            list-style-type: disc;
        }
    }

    // .clear {
    //     @extend .section-nav;    
    //     .li {
    //         @extend .toc-entry;
    //         @extend .toc-h6 !optional;    
    //     }
    //     display: content;
    // }

}

// ------ Navbar ------

header.bg-primary {
    background: lightseagreen !important;
    box-shadow: 0 0.25rem 0.5rem hsla(0, 0%, 0%, 0.2);

}

.header-title {
    color: white;
    a {
        font-size: 1.5rem;
        color: unset;

        display: block; // Makes the whole box a click target
        padding-right: 1rem;
        border-radius: 1rem;

        img {
            height: 3rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        span {
            vertical-align: middle;
        }
    
        &:active, &:hover, &:focus {
            color: unset; // Unset or inherit are gray
            text-decoration: unset;
        }

        &:hover, &:focus {
            letter-spacing: 0.025rem;
        }
        &:active {
            letter-spacing: unset;
            transition: 0.1s;
        }
    }
}

// Navbar Icons
.argon-doku-navbar-icon {
    fill: white;

    :hover {
        fill: #e6e6e6;
    }
}

// Search Bar
.doku_form {
    .no {
        @extend .form-group;
        @extend .input-group;
        @extend .mb-4;
        margin: 0rem;
        height: 1.5rem;
        padding: 0rem;

        #qsearch__in {
            @extend .form-control;
            width: 16rem;
            height: 1.5rem;
            margin: 0rem;
            margin-right: 1rem;
            margin-left: 1rem;
            border-radius: 0.25rem !important;
            overflow: hidden;
            border: none;
            padding-left: 2rem;
        }

        // Search icon button, integrated into search bar
        button {
            // Make it mostly invisible
            color: transparent;
            border: none;
            background-color: transparent;
            box-shadow: none;

            // Icon
            background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z%22%2F%3E%3C%2Fsvg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 45%;

            // Position
            position: absolute;
            top: 0.098rem;
            right: 1.125rem;
            z-index: 3; // Otherwise obscured by the search bar
            width: 1rem;

            border-radius: 0.8rem;
            opacity: 0.5;

            // Animation
            transition: 0.4s;

            :hover {
                background-color: red;
            }
        }

        // Doesn't work inside the button
        button[type="submit"]:not(:disabled):not(.disabled):active {
            color: transparent;
            border: none;
            background-color: hsla(0, 0%, 0%, 0.2);
            opacity: 1;
        }
        button[type="submit"]:not(:disabled):not(.disabled):hover {
            background-color: hsla(0, 0%, 0%, 0.1);
            transition: 0.25s;
            opacity: 0.8;
        }

        // Suggested pages while searching
        .JSpopup.ajax_qsearch {
            // Absolutely positioned
            strong {
                display: none; // Hide title
            }
            top: 3.5rem;
            left: 1rem;
            right: 0.95rem;

            padding: 0.4rem 0;

            border-radius: 0.5rem;
            box-shadow: 0 0.25rem 1rem rgba(50, 50, 93, 0.25);
            color: #525f7f;

            li {
                margin: 0;
                padding: 0;

                :hover {
                    background-color: hsl(210, 50%, 98%);
                }
                :active, :focus, .active {
                    background-color: hsl(210, 30%, 83%);
                }

                a {
                    color: unset;
                    padding: 0.4rem 1.2rem;
                    display: block;
                    
                    text-decoration: none;

                    &.createButton {
                        opacity: 0.5;

                        &:hover, &:active, &:focus, &.active {
                            opacity: 1;
                        }
                    }
                }

                // Add icon
                svg {
                    height: 1.5em;
                    vertical-align: bottom;
                    margin-left: -0.5em;
                    margin-right: 0.15em;
                    margin-top: -0.05em;
                    fill:#525f7f;
                }
            }

        }
    }

}

// ------ Search Form ------

.toggleAssistant {
    @extend .btn;
    @extend .btn-default;
}

.search-results-form {
    button {
        @extend .btn;
        @extend .btn-primary;
        margin-left: 3rem;
    }

    .toggleAssistant {
        @extend .btn;
        @extend .btn-default;
        display: block;
        float: none !important;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    fieldset input {
        @extend .form-control;
        display: inline-block;
    }
}

// ------ Admin Area ------

.dokuwiki {
    

    .ui-admin {
        ul li {
            list-style-type: none;
        }

        ul .admin_tasks {
            svg {
                margin-right: 1rem;
                width: 1px;
                height: 1px;
            }
        }
    }

    .tabs {
        li {
            list-style-type: disclosure-closed;
        }
    }

    div.ui-admin ul li {

        margin: 0rem;
        vertical-align: middle !important; 

        a {
            vertical-align: middle;
            span.icon svg {
                margin-right: 1rem;
                width: inherit;
                height: inherit;
                vertical-align: middle !important; 
                path {
                    fill: #32325d;
                }
                
    
    
            }
    
            span.prompt {
                font-size: 1rem;
                font-weight: normal;
                vertical-align: middle !important; 

            }
    
        }

    } 
    
    


}
// Config Panel

#config__manager td input.edit {
    @extend .form-control;
    width: 30em;
    padding: 0.0rem 0.75rem;
    background-color: white !important;
}

#config__manager tr.default .input,
#config__manager tr.default input,
#config__manager tr.default textarea,
#config__manager tr.default select,
#config__manager .selectiondefault {
    background-color: inherit;
}

// ------ Media Uploads ------

.qq-upload-button {
    @extend .btn;
    @extend .btn-neutral;
}

// ------ Registration and User Forms ------

// Modify user, delete user


.dokuwiki #dw__register,
#dw__profiledelete {
    fieldset {
        width: 100%;
        border: 0rem;
        padding: 0rem;
        text-align: left !important;

        legend {
            @extend .h3;
            font-style: normal;
        }

        label {

            font-size: 1rem;
            font-weight: normal;
            width: 95%;
            text-align: left !important;

            input {
                float: right;
                background-color: white !important;
                border-radius: 0.25rem;
                border-color: #99979c;
                border-width: thin;
            }

        }
    }

    label.block {
        display: inline-block !important;
    }
}

// Login
#dw__login {
    width: 100%;
    float: left;
    left: 0%;
    margin: 0%;
    @extend .card;
    @extend .bg-secondary,
    .shadow,
    .border-0;

    label {
        width: 90%;
    }

    // legend {
    //     @extend .card-header,
    //     .bg-white,
    //     .pb-5;
    //     font-size: 2rem;

    //     label {
    //         @extend .h2;
    //     }

    //     margin-bottom: 5%;
    //     font-style: normal;
    // }

    span {
        float: left;
        font-size: 1.15rem;
    }

    input {
        display: block;
        float: right;
        @extend .form-control;
        width: 90%;
        height: 1.15rem;
        top: 50%;

    }

    .simple {
        width: 50%;
        margin-left: unset !important;

    }

    #remember__me {
        margin-top: 1rem;
    }

    button {
        @extend .btn;
        @extend .btn-primary;
    }
}

// ------ Left Sidebar ------

.leftsidebar {
    .leftsidebar ul {
        @extend .nav,
        .ct-sidenav;
    }

    li {
        list-style-type: none;
        display: block;
        font-size: 0.84rem;
        padding: 0.25rem;
        color: #4c555a;
        font-weight: 400;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: #4c555a;
    }

    a:hover {
        color: #212529;
    }

}

.ct-sidebar .nav>li>a {
    font-size: 0.84rem;
}


// ------ Footer ------

footer {
    text-align: center;

    .argon-doku-footer-fullmenu {
        margin-left: auto;
        margin-right: auto;

        li {
            display: inline;
            fill: #6c757d;

            :hover {
                fill: #525f7f;
            }
        }

        li:nth-of-type(1) {
            margin-left: 0em;
        }
    }

    &.footer-card {
        background-color: unset;
    }

    .card-body {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// ------ Transitions ------
a {
    :hover {
        transition: 0.1s;
    }
    :active, :focus, .active {
        transition: 0.2s;
    }
    transition: 0.2s;
}
